<div class="row first-section-header">
  <div class="col s0 m2 l2"><i class="fa fa-home" aria-hidden="true"></i> Home</div>
  <div class="col  s12 m10 l10"><input type="text" id="txtsearch" placeholder="Search (by ISP name,price,rating)"
      [ngModel]="searchtext" (ngModelChange)="onKeydown($event)">
  </div>
</div>
<ng-container *ngFor="let T of ISPsList">
  <div (click)="onrowClick(T)" class="row table-row">
    <div class="col  s6 table-column"> <i class="fa fa-database" aria-hidden="true"></i> {{T.name}}</div>
    <div class="col  s6 table-column grid-second-column"><i class="fa fa-inr" aria-hidden="true"></i> {{T.lowest_price}}
    </div>
  </div>
</ng-container>
<div class="row">
  <div class="col s12 m12 l12 grid-action-box">
    <div class="grid-footer-action-box">
      <i class="fa fa-arrows-v sort-icon" aria-hidden="true"></i> Sort By
    </div>
    <div class="grid-footer-action-box">

      <div>
        <label>
          <input type="radio" class="with-gap" value="rating" [checked]="sortby === 'rating'" id="rbtn-rating"
            (change)="onsortChange('rating')" class="with-gap" name="rbtn" />
          <span>Rating</span>
        </label>
      </div>
     
      <div>
        <label>
          <input type="radio" value="lowest_price" class="with-gap"  [checked]="sortby === 'lowest_price'" id="rbtn-price"
            (change)="onsortChange('lowest_price')" name="rbtn"> <span>Price</span>
        </label>
      </div>

    </div>
  </div>
</div>
